:host() {
    display: block;
    color: white;
}

.color-blue {
    background-color: blue; 
}

.color-red {
    background-color: red; 
}

.color-green {
    background-color: green; 
}

.color-black {
    background-color: black; 
}

.state-disabled {
    opacity: .5;
    cursor: not-allowed;
}